@model dotnet_tutorial.Models.AttendanceSummary
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-sm-8">
        <form class="form-inline">
            <div class="form-group">
                <label for="txtEmail">Attendance Report of </label>
                <input type="email" class="form-control" id="txtEmail" placeholder="Username">
            </div>
            <div class="form-group">
                <span> for </span>
            </div>
            <div class="form-group">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Month
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Year
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-primary" style="padding:0px">
            <div class="panel-heading">Summary</div>
            <div class="panel-body" style="margin:0px;padding:0px">
                <ul class="list-group" style="margin:0">
                    <li class="list-group-item">
                        <span class="badge">@Model.TotalWorkDays</span>
                        Work Days
                    </li>
                    <li class="list-group-item">
                        <span class="badge">@Model.TotalAbsences</span>
                        Absences
                    </li>
                    <li class="list-group-item">
                        <span class="badge">@Model.TotalActualWorkHours</span>
                        Actual Work Hours
                    </li>
                    <li class="list-group-item">
                        <span class="badge">@Model.TotalEditedWorkHours</span>
                        Edited Work Hours
                    </li>
                    <li class="list-group-item">
                        <span class="badge">@Model.TotalExtraOrDeficitWorkHours</span>
                        Extra/Deficit Work Hours
                    </li>
                    <li class="list-group-item">
                        <span class="badge">@Model.TotalLeaves</span>
                        Leaves
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Timeline</th>
                        <th scope="col">Shift</th>
                        <th scope="col">In-Time</th>
                        <th scope="col">Out-Time</th>
                        <th scope="col">Work Hours</th>
                        <th scope="col">Extra/Deficit Hours</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var attendanceSummary in Model.DayWiseAttendanceSummary)
                    {
                        <tr>
                            <th scope="row">@attendanceSummary.Date</th>
                            <td>TimeLine Graph</td>
                            <td>@attendanceSummary.Shift</td>
                            <td>@attendanceSummary.InTime</td>
                            <td>@attendanceSummary.OutTime</td>
                            <td>@attendanceSummary.WorkHours</td>
                            <td>@attendanceSummary.ExtraDeficitHours</td>
                            <td>
                                <a href="" data-toggle="modal" data-target="#editAttendance" >Edit</a>
                            </td>
                            <td>@attendanceSummary.AttendanceStatus</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="editAttendance" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Attendence</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">

                    <div class="form-group">
                        <label for="txtEmail">Attendance Report of </label>
                        <input type="email" class="form-control" id="txtEmail" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <span> for </span>
                    </div>
                    <div class="form-group">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Month
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Year
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>