<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>@ViewBag.Title - My ASP.NET Application</title>*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126175043-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-126175043-1');
    </script>

</head>
<body>


    @if (!Request.IsAuthenticated)
    {
        <div class="navbar navbar inverse navbar-fixed-top col-md-12 text-center">
            <div class="container1">
                <div class="navbar-header1">
                    @*<img src="~/Image/techblocksLogo.png" class="pull-right" />*@
                    <img src="~/Image/login_back.jpg" alt="anImage" usemap="#examplemap" width="100%" height="100%" />
                    <map name="examplemap">
                        <area shape="rect" coords="340,123,629,446" href="/Account/SignIn" alt="SignIn">
                        @*<area shape="circle" coords="115,50,10" href="page2.html" alt="Page2">*@
                    </map>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid" style="padding-left:0px;">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="~/Image/techblocksLogo.png" class="pull-left" />
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Attendance", "Index", "Attendance")</li>
                        @if (Request.IsAuthenticated)
                {
                            <li>@Html.ActionLink("Inbox", "Inbox", "Home")</li>
                            <li>@Html.ActionLink("Calendar", "Calendar", "Home")</li>
                            <li>@Html.ActionLink("Contacts", "Contacts", "Home")</li>

                }
                    </ul>
                    @Html.Partial("_LoginPartial")
                    <ul class="nav navbar-nav navbar-right">
                        @if (Request.IsAuthenticated)
                {
                            <li>@Html.ActionLink("Sign Out", "SignOut", "Home")</li>
                }
                    </ul>

                </div>
            </div>

        </div>
}

    <div class="container-fluid">
        @RenderBody()
    </div>
    <div class="bg-primary page-header text-center" style="vertical-align:central">
        <span style="vertical-align: -moz-middle-with-baseline;">© Techblocks Inhouse Product</span>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
