@model HR2.Web.Models.AttendanceSummary
@{
    ViewBag.Title = "Home Page";
}

<style>
    .badge {
        background-color: white !important;
        color: black !important;
        font-weight:normal !important;
    }
    .table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
    padding:1px !important;
    }
</style>

<div class="row">
    <div class="col-sm-1">
        <img src="~/Image/avtar.png" alt="employee-photo" class="img-thumbnail img-responsive" />
    </div>
    <div class="col-sm-2">
        <h5><b>Japan Mervana</b></h5>
        <small>Sr. Software Engineer</small><br />
        <small>Techblocks - Ahmedabad</small>
    </div>
    <div class="col-xs-12 visible-xs">&nbsp;</div>
    <div class="col-sm-6">
        <form class="form-inline">
            <div class="form-group">
                <label for="txtEmail">Attendance Report of&nbsp;</label>
                <input type="email" class="form-control" id="txtEmail" placeholder="Username">
            </div>
            <div class="form-group">
                <span>&nbsp;<b>for</b>&nbsp;</span>
            </div>
            <div class="form-group">
                <select class="form-control">
                    <option>Month</option>
                    <option>Jan</option>
                    <option>Feb</option>
                    <option>Mar</option>
                    <option>Apr</option>
                    <option>May</option>
                    <option>Jun</option>
                    <option>Jul</option>
                    <option>Aug</option>
                    <option>Sep</option>
                    <option>Oct</option>
                    <option>Nov</option>
                    <option>Dec</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control">
                    <option>Year</option>
                    <option>2012</option>
                    <option>2013</option>
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                </select>
            </div>
            <button type="button" class="btn btn-primary">Go</button>
        </form>
    </div>
    <div class="col-xs-12 visible-xs">&nbsp;</div>
    <div class="col-sm-3">

        <table class="table table-hover table-condensed">
            <tr>
                <td>Work Days</td>
                <td><span class="badge">@Model.TotalWorkDays days</span></td>
            </tr>
            <tr>
                <td>Absences</td>
                <td><span class="badge">@Model.TotalAbsences days</span></td>
            </tr>
            <tr>
                <td>Actual Work Hrs</td>
                <td><span class="badge">@Model.TotalActualWorkHoursString hrs</span></td>
            </tr>
            <tr>
                <td>Edited Work Hrs</td>
                <td><span class="badge">@Model.TotalEditedWorkHoursString hrs</span></td>
            </tr>
            <tr>
                <td>Extra/Deficit Work Hrs</td>
                <td><span class="badge">@Model.TotalExtraOrDeficitWorkHoursString hrs</span></td>
            </tr>
            <tr>
                <td>Leaves</td>
                <td><span class="badge">@Model.TotalLeaves days</span></td>
            </tr>
        </table>

    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Timeline</th>
                        <th scope="col">Shift</th>
                        <th scope="col">In-Time</th>
                        <th scope="col">Out-Time</th>
                        <th scope="col">Work Hours</th>
                        <th scope="col">Extra/Deficit Hours</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var attendanceSummary in Model.DayWiseAttendanceSummary)
                    {
                        <tr>
                            <th scope="row">@attendanceSummary.Date</th>
                            <td>TimeLine Graph</td>
                            <td>@attendanceSummary.Shift</td>
                            <td>@attendanceSummary.InTime</td>
                            <td>@attendanceSummary.OutTime</td>
                            <td>@attendanceSummary.WorkHours</td>
                            <td>@attendanceSummary.ExtraDeficitHours</td>
                            <td>
                                <a href="" data-toggle="modal" data-target="#editAttendance">Edit</a>
                            </td>
                            <td>@attendanceSummary.AttendanceStatus</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="editAttendance" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Attendence</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">

                    <div class="form-group">
                        <label for="txtEmail">Attendance Report of </label>
                        <input type="email" class="form-control" id="txtEmail" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <span> for </span>
                    </div>
                    <div class="form-group">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Month
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Year
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>